# Output folder of build
bin

# Related files of Mac and ide
.idea
.DS_Store

# Middle files of python
__pycache__
*.pyc

# Output file of unit test coverage
coverage.out

/cache
/ormb
/config.json
dist/
.vscode/

.cache/

training-serving.ipynb
